body {
    background-color: #ffffff;
    padding-top: 70px;
}
/*li.dropdown.show {
    position: static;
}
    li.dropdown.show .search {
        display: table;
        width: 100%;
        height: 0%;
        text-align: center;
        left: 0;
        right: 0;
    }


.dropdown-menu {
    height: auto;
}

.login{
    min-width: 50%;
}

.search > input {
    border: none!important;
    margin: 5px 15px 5px 5px;
    width: 95%;
    height: 50px;
    border-radius: 30px;
    text-align: center;
}*/

﻿html, body{
     height: 100%;
    width:100%;
    color: white;
}

.homeImage {
    background-image: url(https://wallpapercave.com/wp/wp2671835.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0;
    bottom:0;
    z-index: -1;    
}
.head{
    height: auto;

    margin-bottom:50%;
}

.page{
    /*position:absolute;*/


    /*margin-bottom:50%;*/
}

/*.page{
    position:absolute;
    top:100%;
}*/



.search.show{
    position: static;
}


li.dropdown.show .search {
    display: table;
    /*height: 0%;*/
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
}

.dropdown-menu {
    height: auto;
}

.login{
    /*max-width: 50%;*/
    width:100%;
}

.search > input {
    border: none!important;
    margin: 5px 15px 5px 5px;
    width: 95%;
    height: 50px;
    border-radius: 30px;
    text-align: center;
}
#navHide {
    z-index: 5;
    position: fixed;
    top: 0;
    /*display: block;*/
    transition: top 1s;
}
.container1 {
    /*margin-top: 8%;*/
}

.inner1 {
    overflow: hidden;
}
.inner1 img {
    /*transition: all 1.5s ease;*/
}
.inner1:hover img  {
    transform: scale(1.9);
        
}
.pad{
    margin-bottom:10px;
}

/* STYLES SPECIFIC TO FOOTER  */
.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color:#F8F8F8;
    
}

    .footer .col {
        width: 190px;
        height: auto;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 0px 20px 20px 20px;
    }

        .footer .col h1 {
            margin: 0;
            padding: 0;
            font-family: inherit;
            font-size: 12px;
            line-height: 17px;
            padding: 20px 0px 5px 0px;
            color: black;
            font-weight: normal;
            text-transform: uppercase;
            letter-spacing: 0.250em;
        }

        .footer .col ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            .footer .col ul li {
                color: #999999;
                font-size: 14px;
                font-family: inherit;
                font-weight: bold;
                padding: 5px 0px 5px 0px;
                cursor: pointer;
                transition: .2s;
                -webkit-transition: .2s;
                -moz-transition: .2s;
            }

.social ul li {
    display: inline-block;
    padding-right: 5px ;
}

.footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

.clearfix {
    clear: both;
}

@media only screen and (min-width: 1280px) {
    .containr {
        width: 1200px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1139px) {
    .containr .social {
        width: 1000px;
        display: block;
    }

    .social h1 {
        margin: 0px;
    }
}

@media only screen and (max-width: 950px) {
    .footer .col {
        width: 33%;
    }

        .footer .col h1 {
            font-size: 14px;
        }

        .footer .col ul li {
            font-size: 13px;
        }
}

@media only screen and (max-width: 500px) {
    .footer .col {
        width: 50%;
    }

        .footer .col h1 {
            font-size: 14px;
        }

        .footer .col ul li {
            font-size: 13px;
        }
}

@media only screen and (max-width: 340px) {
    .footer .col {
        width: 100%;
    }
}

input.btn-danger {
    margin-top: 15px;
    margin-bottom:5px;
    
}
   
    hr .new {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightgrey;
    border-style: double;
    border-width: 1px;
}
.cabinet-list.table-cell {
    width: 25%;
    vertical-align: top;
    display: table-cell;
    padding-right: 30px;
   
}
.custom.thumbnail {
    display: block;
    padding: 0;
    /* margin-bottom: 0; */
    line-height: 1.42857143;
    background-color: #fff;
    border: none;
    border-radius: inherit;
    position: relative;
}
  
.cabinet-list h3 {
    font-size: 20px;
    color: #6e6e6e;
    padding-bottom: 3px;
    margin: 20px 0 10px;
    border-bottom: 1px solid #000;
    font-weight: 400;
   
}
.cabinet-list ul li a {
    color: #6e6e6e;
    font-size: 18px;
    line-height: 20px;
}
.cabinet-list ul {
    margin-bottom: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}



    .magnify-hidden {
        display: none;
    }

.magnifier-large {
    position:absolute;
    width: 32%;
    z-index: 100;
}

        .magnifier-preview {
        width: 200px !important;
        left: 120px !important;
    }
 .magnifier-preview:not(.hidden) {
    background-color: #fff;
}

.news-box {
    background-color: #EEEEEE;
    padding: 20px 10px 5px;
    margin-bottom: 5px;
    height: 350px;
    color: #000;
}
.headd {
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0px 0 15px;
    display: inline-block;
    font-weight: bold;
    border-bottom: 1px solid;
}


.filter-container{
    border: 1px solid silver;
    padding: 10px;
}

.inner-filter{

}

.checkbox input[type="checkbox"] {
    margin-right: 5px;
}

.btnSear{
    display:none;
}


