
﻿.homeImage {
    background-image: url(https://wallpapercave.com/wp/wp2671835.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top : 0;
    z-index : -1;
}

li.dropdown.show {
    position: static;
}
    li.dropdown.show .search {
        display: table;
        width: 100%;
        height: 0%;
        text-align: center;
        left: 0;
        right: 0;
    }

.dropdown-menu {
    height: auto;
}

.login{
    min-width: 50%;
}

.search > input {
    border: none!important;
    margin: 5px 15px 5px 5px;
    width: 95%;
    height: 50px;
    border-radius: 30px;
    text-align: center;
}

﻿html, body{
     height: 100%;
    width:100%;
    color: white;
}

.homeImage {
    background-image: url(https://wallpapercave.com/wp/wp2671835.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: -webkit-fill-available;
    height: 100%;
    position: absolute;
    top: 0;
    bottom:0;
    z-index: -1;    
}
.head{
    height: 80%;
}

.page{
    position:absolute;
    top:100%;
}


li.dropdown.show {
    position: static;
}
    li.dropdown.show .search {
        display: table;
        width: 100%;
        height: 0%;
        text-align: center;
        left: 0;
        right: 0;
    }

.dropdown-menu {
    height: auto;
}

.login{
    min-width: 50%;
}

.search > input {
    border: none!important;
    margin: 5px 15px 5px 5px;
    width: 95%;
    height: 50px;
    border-radius: 30px;
    text-align: center;
}
#navHide {
    position: fixed;
    top: 0;
    /*display: block;*/
    transition: top 1s;
}

.container1 {
    /*margin-top: 8%;*/
}

.inner1 {
    /*overflow: hidden;*/
}

.inner1 img {
    transition: all 0.3s ease;
}

.inner1:hover img {
    transform: scale(1.2);
} 
              